.container {
    margin-top: 80px;
    width: calc(100% - 300px);
    height: calc(100% - 80px);
    overflow-y: scroll;

    @media screen and(max-width:768px) {
        width: 100%;
    }

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #4F27BF;
        border-radius: 5px;
    }
}